.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 20px 0;
}

.pagination__list{
    display: flex;
    gap: 3px;
}

.pagination__num-page{
    cursor:context-menu;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    font-size: 12px;
    border-radius: 4px;
}

.pagination__num-page_active{
    background-color: #1890FF;
    color: white;
}

.pagination__arrow{
    position: relative;
    width: 14px;
    height: 14px;
}

.pagination__arrow::before, .pagination__arrow::after{
    position: absolute;
    content: "";
    height: 7px;
    width: 1.5px;
    background-color:#bfbfbf;
    border-radius: 1px;
}

.pagination__arrow::after{    
    top: 2px;
    left: 4px;
    transform: rotate(45deg);
}

.pagination__arrow::before{
    top: 6.5px;
    left: 4px;
    transform: rotate(-45deg);
}

.pagination__arrow_right::after{    
    left: 8px;
    transform: rotate(135deg);
}

.pagination__arrow_right::before{
    left: 8px;
    transform: rotate(-135deg);
}
