.movie-list{
    display: grid;
    gap: 20px;
    /* padding: 36px 0; */
    /* padding: 136px 0; */
}

.scroll-up{
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #188fff85;
    bottom: 170px;
    right: 70px;
    transition: opacity 1s ease
}

.scroll-up::after, .scroll-up::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 20px;
    background-color: #f7f7f7de;
    border-radius: 5px;
}

.scroll-up::after{
    top: 15px;
    left: 18px; 
    transform: rotate(-140deg);
}

.scroll-up::before{
    top: 15px;
    left: 29px; 
    transform: rotate(140deg);
}

.opacity0{
    opacity: 0;
}