.loader-star{
    display: block;
    position: relative;
    height: 12px;
    /* width: 80%; */
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    /* margin-bottom: 30px; */
    margin-left: auto;
    width: 210px;
    margin-bottom: 10px
  }
  .loader-star:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #1890FF;
    animation: 0.5s prog ease-in infinite;
  }
  
  @keyframes prog {
    to  {   width: 100%;}
  }