.tab-switch-wrap{
    position: relative;
}

.tab-switch{
    display: flex;
    width: 180px;
    height: 50px;
    border-bottom: 1px #D9D9D9 solid;
}

.tab-switch__btn{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000A6;
    width: 75px;
}
.tab-switch__stick{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #1890FF;
    transition: left .5s ease;
}
