p, div{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 245px;
    box-shadow: 5px 10px 20px #c2c0c0;
    box-sizing: border-box;
    transition: all .6s ease-in;
    transition-delay: .1s;
    background-color: #f7f7f7;
}

.card:hover{
    box-shadow: 5px 10px 20px 10px #b3b0b0;
}

.card__close-btn{
    display: none;
    background: none;
    position: absolute;
    align-items: center;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
}
.card__close-btn img{
    position: absolute;
    top: -5px;
    left: -5px;
    height: 60px;
    width: 60px;
}

.card__image-wrap{
    position: absolute;
    z-index: 1;
    height: 90px;
    width: 60px;
    background:#f7f7f7;
    transition: opacity .5s ease-in;
}

.card__image-wrap img{
    width: inherit;
    height: inherit;
    transform-origin: top left;
    transition: opacity .7s ease-in;
    transition-delay: .2s;

}

.card__image-title{
    display: none;
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 20px;
    font-weight: 400;
    width: 130px;
    height: 50px;
    color: #e1e1e1;
    z-index: -1;
    font-family: 'Star';
    transition: all 1s ease-in;
    word-break: break-all;
}

.card__info{
    display: flex;
    flex-direction: column;
    transition: opacity .5s ease-in;
    gap: 7px;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.card__header{
    position: relative;
    /* height: 48px; */
    display: flex;
    align-items: top;
    margin-left: 75px;
}

.card__title{
    margin-right: auto;
    width: 85%;
    height: 25px;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    word-break:break-all
}

.card__rating-circle{
    position: absolute;
    width: 34px;
    height: 34px;
    right: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    align-self: flex-start;
    padding-top: 7px;
    font-size: 12px;
    box-sizing: border-box;
}


.card__rating-wrap{
    position: relative;
    height: 30px;
    margin-left: auto;
    width: 210px
}

.card__rating{
    width: 0px;
    cursor: context-menu;
    position: absolute;
    bottom: 5px;
    color:#fadb14;
    font-size: 20px;
    overflow-x: hidden;
}

.card__rating-background{
    color:#e0dddd;
    cursor: context-menu;
    position: absolute;
    bottom: 5px;
    font-size: 20px;
}

.card__rating-circle_select{
    position: absolute;
    top: -40px;
    left: 0;
    opacity: 0;
    transition: all .3s ease, opacity 1s ease;
}

.card__date{
    margin-left: 75px;
    color: #827E7E;
    margin-top: -7px;
}

.card__genres{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
    height: 23px;
    margin-left: 75px;
    overflow-x:scroll;
}

.card__genres::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
}

.card__genre{
    font-family: inherit;
    border: 1px #D9D9D9 solid;
    border-radius: 2px;
    padding: 3px 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;    
}

.card__genre:hover{
    cursor: pointer;
    background-color: #e0dddd;
}

.card__descriptions{
    line-height: 22px;    
    height: 90px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    margin-bottom: auto
}

.card__descriptions:hover{
    font-size: 16px;
    overflow: auto
}

.card__descriptions::-webkit-scrollbar {
    width: 0;
}
.background-color, .background-image{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition-delay: .4s;
    transition: all .7s ease;
    opacity: 0;
}

.background-color{
    background-color: #f7f7f7;
    z-index: -1;

}

.opacity02{
    opacity: 0.2;
}