@import url('./fonts.css');

html {
    scroll-behavior: smooth
}

body{
    font-family: 'Inter';
    font-size: 12px;
    margin: 0 auto;
    background-color: #f7f7f7;
    transition: background .6s ease-in;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 1s ease;
}

body::-webkit-scrollbar {
    width: 0px;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul,h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    height: 100vh;
}


button{
    background-color: inherit;
    border: none
}
p, div{
    margin: 0;
    padding: 0;
}

.background-image{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition-delay: .4s;
    transition: all .7s ease;
    opacity: 0;
    z-index: -2;
}

.opacity02{
    opacity: 0.2;
}
.opacity0{
    opacity: 0;
}
@media (min-width:350px){
    .app{
        width: 90vw;
    }
} 

@media (min-width:500px){
    .card{
        height: 281px; 
    }

    .card__image-wrap{
        position: static;
        height: 261px;
        width: 183px;
    }
    
    .card__genres, .card__date, .card__header{
        margin-left: 0;
    }
    
    .card__descriptions{
        height: 160px;
    }

    .card__rating-wrap, .card__rating_error, .loading-snake{
        margin-left: 0;
    }
}

/* @media (min-width:768px) { */
@media (min-width:700px) {
    
    .movie-list{
        grid-template-columns: 1fr 1fr;   
    }

    .card{
        height: 245px;
    }

    .card__image-wrap{
        position: absolute;
        height: 90px;
        width: 60px;
    }    
    
    .card__genres, .card__date, .card__header{
        margin-left: 75px;
    }
    
    .card__descriptions{
        height: 90px;
    }
}

@media (min-width:1024px) {
    .app{
        width: 1010px
    }
    
    .movie-list{
        gap: 35px;
        padding: 0 35px;
    }

    .card{
        width: 454px;
        height: 281px; 
    }

    .card__image-wrap{
        position: relative;
        background: black;
        height: 261px;
        width: 183px;
    }
    .card__image-title{
        display: block;
    }
    .header{
        box-sizing: border-box;
        padding: 0 35px;
    }
    .card__genres, .card__date, .card__header{
        margin-left: 0;
    }

    .card__descriptions{
        /* height: 160px; */
    }
    
}